@charset "UTF-8";
.indexContact .items{
	padding-top: 40px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.indexContact .left{
	width: 35%;
}
.indexContact .left .textAll{
	padding: 10px 0 20px;
}
.indexContact .left .textAll ul,
.indexContact .left .textAll ul li{
	display: inline-block;
}
.indexContact .left .textAll ul+ul{
	margin-left: 10px;
}
.indexContact .left .textAll ul li+li{
	margin-left: 5px;
}
.indexContact .right{
	width: 62%;
	padding-left: 60px;
}
.indexContact .error{
	opacity: 0;
	transition: .5s;
}
.indexContact form > div{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.indexContact form > div > *{
	width: 30%;
	height: 47px; 
	margin-bottom: 20px;
}
.indexContact form .img{
	border: 1px solid rgba(255,255,255,.5);
	background: rgba(0,0,0,.6);
	position: relative;
	min-height: 47px;
	overflow: hidden;
}
.indexContact form .img img{
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.indexContact textarea{
	height: 250px;
}
 .map {
    width: 100%;
    height: 200px;
}

@media (max-width: 1100px) {
	.indexContact .left {
	    width: 38%;
	}
	.indexContact .right {
	    width: 60%;
	}
}
@media (max-width: 870px) {
	.indexContact .items {
	    flex-direction: column;
	}
	.indexContact .left{
		border-bottom: 1px solid rgba(255,255,255,.2);
	    margin-bottom: 40px;
	    padding-bottom: 30px;
	}
	.indexContact .left, .indexContact .right{
	    width: 100%;
	    padding-left: 0;
	}
	.indexContact .left .top{
		margin-bottom: 20px;
	}
	.map {
	    height: 300px;
	}

}
@media (max-width: 580px) {
	.indexContact form > div > .img,
	.indexContact form > div > input{
		width: 47%;
	}
	.indexContact form > div > button{
		width: 100%;
	}

}



