@charset "UTF-8";
.indexHeader{
	height: 100vh;
	min-height: 580px;
}

.indexHeader .text{
	position: relative;
	padding: 60px 0;
	text-align: center;
	/* position: absolute; */
	width: 820px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	pointer-events: none;
}
.indexHeader .text h1{
	transition: 1s;
	transition-delay: .6s;
	transform: translateY(0);
	opacity: 1;
}
.indexHeader .text h3{
	max-width: 660px;
	margin: 10px auto;
	transform: translateY(0);
	opacity: 1;
	transition: .8s;
	transition-delay: .9s;
}
.indexHeader .text ul{
	margin-top: 110px;
	pointer-events: auto;
}
.indexHeader .text li{
	padding: 10px 15px;
	transform: scale(1,1);
	transition: .5s;
	transition-delay: 1.5s;
}
body.active .indexHeader .text h1{
	transform: translateY(130px);
	opacity: 0;
}
body.active .indexHeader .text h3{
	transform: translateY(100px);
	opacity: 0;
}
body.active .indexHeader .text li{
	transform: scale(0,0);
}
@media (max-width: 880px) {
	.indexHeader .text{
		width: 460px;
	}
	.indexHeader .text h3 {
		max-width: 420px;
	}
}
@media (max-width: 640px) {
	.indexHeader .text{
		padding: 20px;
		width: 360px;
	}
	.indexHeader .text ul{
		margin-top: 20%;
	}
	.indexHeader .text h3{
		font-size: 15px;
	}
}
@media (max-width: 360px) {
	.indexHeader .text h1{
		font-size: 38px;
	}
	.indexHeader .text{
		width: 100%;
	}
	.indexHeader .text ul{
		margin-top: 40px;
	}
}

/*people*/
body.active .indexHeader .text .people>div{
	animation:none;
}
.indexHeader .text .people{
	position: relative;
	height: 280px;
	overflow: hidden;
	display: none;
}
.indexHeader .text .people>div{
	position: absolute;
	left: 50%;
	transform: translateY(100%);
	transition: .3s;
}
.indexHeader .text .people .one,
.indexHeader .text .people .fives,
.indexHeader .text .people .nine{
	margin-left: -410px;
	top: 25px;
	animation: peopleAnimation 10s infinite 1.8s;
}
.indexHeader .text .people .two,
.indexHeader .text .people .six,
.indexHeader .text .people .ten{
	margin-left: -195px;
	animation: peopleAnimation 10s infinite 1.4s;
}
.indexHeader .text .people .three,
.indexHeader .text .people .seven,
.indexHeader .text .people .eleven{
	margin-left: -9px;
	animation: peopleAnimation 10s infinite 1.6s;
}
.indexHeader .text .people .four,
.indexHeader .text .people .eight,
.indexHeader .text .people .tewlve{
	margin-left: 126px;
	top: 25px;
	animation: peopleAnimation 10s infinite 2s;
}
.indexHeader .text .people .fives{
	animation: peopleAnimation 10s infinite 5.4s;
}
.indexHeader .text .people .six{
	animation: peopleAnimation 10s infinite 5s;
}
.indexHeader .text .people .seven{
	animation: peopleAnimation 10s infinite 5.2s;
}
.indexHeader .text .people .eight{
	animation: peopleAnimation 10s infinite 5.6s;
}
.indexHeader .text .people .nine{
	animation: peopleAnimation 10s infinite 8.4s;
}
.indexHeader .text .people .ten{
	animation: peopleAnimation 10s infinite 8s;
}
.indexHeader .text .people .eleven{
	animation: peopleAnimation 10s infinite 8.2s;
}
.indexHeader .text .people .tewlve{
	animation: peopleAnimation 10s infinite 8.6s;
}
@keyframes peopleAnimation {
	0%{transform: translateY(100%);}
	5%{transform: translateY(0);}
	25%{transform: translateY(0);}
	30%{transform: translateY(100%);}
} 
@media (max-width: 940px) {
	.indexHeader .text .people{
		height: 285px;
	}
	.indexHeader .text .people>div{
		width: 35%;
	}
	.indexHeader .text .people .one,
	.indexHeader .text .people .fives,
	.indexHeader .text .people .nine{
		margin-left: 0;
		left: 0;
	}
	.indexHeader .text .people .two,
	.indexHeader .text .people .six,
	.indexHeader .text .people .ten{
		margin-left: 0;
		left: 21%;
	}
	.indexHeader .text .people .three,
	.indexHeader .text .people .seven,
	.indexHeader .text .people .eleven{
		margin-left: 0;
		left: auto;
		right: 22%;
	}
	.indexHeader .text .people .four,
	.indexHeader .text .people .eight,
	.indexHeader .text .people .tewlve{
		margin-left: 0;
		left: auto;
		right: 0;
	}

}
@media (max-width: 880px) {
	.indexHeader .text .people{
		height: 165px;
	}
}
@media (max-width: 640px) {
	.indexHeader .text .people{
		height: 100px;
	}
	.indexHeader .text .people>div{
		width: 30%;
	}
	.indexHeader .text .people .two,
	.indexHeader .text .people .six,
	.indexHeader .text .people .ten{
		left: 25%;
		top: 11px;
	}
}


.indexHeader .logo,
.indexHeader .share,
.indexHeader .soundNav,
.indexHeader .bottomScroll{
	position: fixed;
	z-index: 10;
	padding: 20px;
	cursor: pointer;
}

/*log*/
.indexHeader .logo{
	left: 0;
	padding-top: 16px;
}
.indexHeader .logo a{
	display: flex;
	align-items: center;
	font-size: 18px;
	/*color: #1e9cff;*/
	color: #fff;
}
.indexHeader .logo a svg{
	width: 35px;
    height: 35px;
    margin-right: 6px;
    margin-bottom: 1px;
    transition: .4s;
}
.indexHeader .logo a svg path{
	fill: #fff;
}
.indexHeader .logo a:hover svg{
	margin-right: 2px;
}
/*bottomshare*/
.indexHeader .share{
	left: 0;
	bottom: 0;
	display: flex;
}
.indexHeader .share a{
	opacity: .7;
	transition: 0.4s ease;
}
.indexHeader .share a img{
	width: 100%;
}
.indexHeader .share a:nth-child(1){
	width: 16px;
	margin-right: 15px;
}
.indexHeader .share a:nth-child(2){
	width: 34px;
}
.indexHeader .share a:hover{
	opacity: 1;
}
/*bottomSoundNav*/
.indexHeader .soundNav{
	right: 0;
	bottom: 0;
	display: flex;
}
.indexHeader .soundNav .sound{
	width: 23px;
	height: 15px;
	position: relative;

}
.indexHeader .soundNav .sound .line{
	position: absolute;
	bottom: 0;
	width: 2px;
	height: 2px;
	transition: height 0.4s ease;
}
.indexHeader .soundNav .sound .line:nth-child(1){
	left: 0;
}
.indexHeader .soundNav .sound .line:nth-child(2){
	left: 3px;
}
.indexHeader .soundNav .sound .line:nth-child(3){
	left: 6px;
}
.indexHeader .soundNav .sound .line:nth-child(4){
	left: 9px;
}
.indexHeader .soundNav .sound .line:nth-child(5){
	left: 12px;
}
.indexHeader .soundNav .sound .line:nth-child(6){
	left: 15px;
}
.indexHeader .soundNav .sound .line:nth-child(7){
	left: 18px;
}
.indexHeader .soundNav .sound .line:nth-child(8){
	left: 21px;
}
.indexHeader .soundNav .sound.active .line:nth-child(1){
	height: 2px;
}
.indexHeader .soundNav .sound.active .line:nth-child(2){
	height: 7px;
}
.indexHeader .soundNav .sound.active .line:nth-child(3){
	height: 13px;
}
.indexHeader .soundNav .sound.active .line:nth-child(4){
	height: 16px;
}
.indexHeader .soundNav .sound.active .line:nth-child(5){
	height: 9px;
}
.indexHeader .soundNav .sound.active .line:nth-child(6){
	height: 4px;
}
.indexHeader .soundNav .sound.active .line:nth-child(7){
	height:6px;
}
.indexHeader .soundNav .sound.active .line:nth-child(8){
	height: 2px;
}
.indexHeader .soundNav .sound .line:after{
	content:'';
	position: absolute;
    bottom: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    opacity: .7;
    transition: opacity 0.4s linear;
}
.indexHeader .soundNav .sound:hover .line:after{
	opacity: 1;
}
.indexHeader .soundNav .sound.active .line:nth-child(1):after{
	animation: soundAnimation .2s infinite;
    animation-delay: 0.3s;
}
.indexHeader .soundNav .sound.active .line:nth-child(2):after{
	animation: soundAnimation .5s infinite;
    animation-delay: 0.5s;
}
.indexHeader .soundNav .sound.active .line:nth-child(3):after{
	animation: soundAnimation .6s infinite;
    animation-delay: 0.3s;
}
.indexHeader .soundNav .sound.active .line:nth-child(4):after{
	animation: soundAnimation .7s infinite;
    animation-delay: 0.7s;
}
.indexHeader .soundNav .sound.active .line:nth-child(5):after{
	animation: soundAnimation .3s infinite;
    animation-delay: 0.3s;
}
.indexHeader .soundNav .sound.active .line:nth-child(6):after{
	animation: soundAnimation .64s infinite;
    animation-delay: 0.64s;
}
.indexHeader .soundNav .sound.active .line:nth-child(7):after{
	animation: soundAnimation .89s infinite;
    animation-delay: 0.89s;
}
.indexHeader .soundNav .sound.active .line:nth-child(8):after{
	animation: soundAnimation .5s infinite;
    animation-delay: 0.5s;
}
@keyframes soundAnimation{
	0%{height: 100%;}
	50%{height: 0%;}
	100%{height: 100%;}
}
.indexHeader .soundNav .zoom{
	width: 20px;
	height: 15px;
	margin-left: 15px;
	position: relative;
	transform: scale(1);
	transition: .4s;
	opacity: .7;
}
.indexHeader .soundNav .zoom .box{
	position: absolute;
	width: 6px;
	height: 6px;
	border: 2px solid #fff;
}
.indexHeader .soundNav .zoom .box:nth-child(1){
	top: 0;
	left: 0;
	border-right: none;
	border-bottom: none;
}
.indexHeader .soundNav .zoom .box:nth-child(2){
	top: 0;
	right: 0;
	border-left: none;
	border-bottom: none;
}
.indexHeader .soundNav .zoom .box:nth-child(3){
	bottom: 0;
	left: 0;
	border-right: none;
	border-top: none;
}
.indexHeader .soundNav .zoom .box:nth-child(4){
	bottom: 0;
	right: 0;
	border-top: none;
	border-left: none;
}
.indexHeader .soundNav .zoom:hover{
	transform:scale(1.08);
	opacity: 1;
}
/*bottomScroll*/
.indexHeader .bottomScroll{
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
	z-index: 9;
}
.indexHeader .bottomScroll .scroll{
	overflow: hidden;
	position: relative;
	width: 15px;
	height: 50px;
	opacity: 0;
	transition: .5s;
}
.indexHeader .bottomScroll .scroll .line{
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform: translateX(-50%);
	width: 1px;
	height: 40px;
	background: #fff;
	opacity: 0.7;
}
.indexHeader .bottomScroll .scroll .line:after{
	content:'';
	position: absolute;
	width: 10px;
	height: 10px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) rotate(-135deg);
}
.indexHeader .bottomScroll .scroll:hover .line{
	opacity: 1;
	animation: scrollAnimation .6s infinite;
}
@keyframes scrollAnimation{
	0%{bottom: 5px;}
	59%{bottom: -100%;}
	60%{bottom: 100%;}
	100%{bottom: 5px;}
}
.menu{
	position: fixed;
	right: 0;
	padding: 20px;
	z-index: 10;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.menu:hover .bar:nth-child(1),
.menu:hover .bar:nth-child(3){
	top: 7px;
}
.menu .inner {
	width: 22px;
	height: 16px;
	margin-left: 10px;
	position: relative;
}
.menu .bar {
	height: 1px;
	margin-bottom: 4px;
	background: #fff;
	position: absolute;
	transition: all 0.2s ease-in-out;
	right: 0;
}
.menu .bar:nth-child(1) {
	width: 21px;
	top: 0;
}
.menu .bar:nth-child(2) {
	width: 14px;
	top: 7px;
}
.menu .bar:nth-child(3) {
	width: 17px;
	top: 14px;
}
.menu.active .bar:nth-child(1) {
	top: 50%;
	width: 23px;
	transform: translate(0%) rotate(-45deg);
}
.menu.active .bar:nth-child(2) {
	opacity: 0;
	width: 0;
}
.menu.active .bar:nth-child(3) {
	top: 50%;
	width: 23px;
	transform: translate(0%) rotate(45deg);
}
/*menu*/
.menuopen{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: rgba(0,0,0,.9);
	opacity: 0;
	visibility:hidden;
	z-index: 9;
}
.menuopen .content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.menuopen .lineAll>*{
	position: absolute;
	opacity: 0;
}
.menuopen .lineAll .linetext{
	top: -10px;
	left: 50px;
	transform: translateX(-20px) translateY(-20px);
	transition: 0.7s cubic-bezier(0.7, 0.01, 0.37, 1);
}
.menuopen .lineAll .line{
	width: 40px;
	height: 40px;
	border: 1px solid rgba(255,255,255,0.4);
	/*transition: opacity 0.4s, transform 0.7s;*/
	transition: transform 0.7s cubic-bezier(0.7, 0.01, 0.37, 1);
}
.menuopen .lineAll .line:nth-child(5){
	top: 0;
	left: 0;
	border-bottom: none;
	border-right: none;
	transform: translateX(-20px) translateY(-20px);
}
.menuopen .lineAll .line:nth-child(2){
	top: 0;
	right: 0;
	border-bottom: none;
	border-left: none;
	transform: translateX(20px) translateY(-20px);
	transition-delay: 0.1s;
}
.menuopen .lineAll .line:nth-child(3){
	right: 0;
	bottom: 0;
	border-top: none;
	border-left: none;
	transform: translateX(20px) translateY(20px);
	transition-delay: 0.2s;
}
.menuopen .lineAll .line:nth-child(4){
	left: 0;
	bottom: 0;
	border-top: none;
	border-right: none;
	transform: translateX(-20px) translateY(20px);
	transition-delay: 0.3s;
}
.menuopen ul{
	padding: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.menuopen ul li{
	margin: 10px 0;
	display: flex;
	align-items: center;
}
.menuopen ul li .number{
	overflow: hidden;
}
.menuopen ul li .number span{
	margin-right: 20px;
	display: inline-block;
	position: relative;
	padding-bottom: 6px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #0f8cee;
	font-style: italic;
	transform: translateX(50px);
	transition: transform 0.5s cubic-bezier(0.7, 0.01, 0.37, 1);
}
.menuopen ul li .number span:after{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	background: #0f8cee;
	bottom: 0;
	left: 0;
}
.menuopen ul li:nth-child(1) .number span{
	transition-delay: 0.3s;
}
.menuopen ul li:nth-child(2) .number span{
	transition-delay: 0.35s;
}
.menuopen ul li:nth-child(3) .number span{
	transition-delay: 0.4s;
}
.menuopen ul li:nth-child(4) .number span{
	transition-delay: 0.45s;
}
.menuopen ul li:nth-child(5) .number span{
	transition-delay: 0.5s;
}
.menuopen ul li:nth-child(6) .number span{
	transition-delay: 0.55s;
}
.menuopen a{
	font-size: 26px;
	letter-spacing: 3px;
	font-weight: bold;
	width: 125px;
	height: 28px;
	opacity: 0;
}
.menuopen a.active{
	color: #0f8cee;
}
.menuopen a:hover{
	color: #0f8cee;
}

.menu.active+.menuopen .lineAll .linetext,
.menu.active+.menuopen .lineAll .line:nth-child(5),
.menu.active+.menuopen .lineAll .line:nth-child(2),
.menu.active+.menuopen .lineAll .line:nth-child(3),
.menu.active+.menuopen .lineAll .line:nth-child(4){
	opacity: .8;
	transform: translateX(0) translateY(0);
	animation: myfirst .6s;
}
.menu.active+.menuopen ul li .number span{
	transform: translateX(0);
}
@keyframes myfirst
{
	0% {opacity: 0;}
	30% {opacity: 1;}
	100% {opacity: 0.8;}
}

@media (max-width: 680px) {
	.indexHeader .logo,
	.indexHeader .menu,
	.indexHeader .share,
	.indexHeader .soundNav,
	.indexHeader .bottomScroll{
		padding: 12px;
	}
	.indexHeader .logo a{
		font-size: 16px;
	}
	.indexHeader .logo a svg{
		width: 25px;
		height: 25px;
	}
	.menuopen .content{
		width: 280px;
	}
	.menuopen ul{
		padding: 40px;
	}
}
@media (max-width: 360px) {

	.menuopen .content{
		width: 240px;
	}
	.menuopen ul{
		padding: 20px 40px;
	}

}





