@charset "UTF-8";
.indexService .items{
	padding-top: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
.indexService .items li{
    padding: 0 0 80px;
    width: 30%;
    cursor: default;
    user-select: none;
}
.indexService .items li h3{
	color: #0f8cee;
	min-height: 35px;
}
.indexService .items li p{
	min-height: 70px;
}
@media (max-width: 640px) {
	.indexService .items li{
		width: 47%;
		padding: 0 0 40px;
	}
}
@media (max-width: 420px) {
	.indexService .items li{
		width: 100%;
	}
}