@charset "UTF-8";
.indexTeam .items{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
}
.indexTeam .item{
	width: 23%;
	margin: 20px 0;
  	border: 1px solid rgba(255,255,255,.2);
  	background: rgba(15, 140, 238,.1);
  	position: relative;
  	transform-style: preserve-3d;
	transform: rotateX(0deg) rotateY(0deg);
}
.indexTeam .item .itemout{
	background: rgba(15, 140, 238,.1);
	padding: 30px 20px;
	transition: .4s;
}
.indexTeam .item .itemout:hover{
	background: rgba(15, 140, 238,.2);
}
.indexTeam .item h4{
	transform: translateZ(60px);
}
.indexTeam .item h4 span{
	font-size: 12px;
	margin-left: 10px;
	transform: translateZ(50px);
}
.indexTeam .item .img{
	text-align: center;
	margin: 10px 0;
	transform: translateZ(40px);
}
.indexTeam .item .box{
	position: absolute;
	width: 10px;
	height: 10px;
	border: 2px solid rgba(255,255,255,.8);
	transform: translateZ(10px);
}
.indexTeam .item .box:nth-child(1){
	top: 0;
	left: 0;
	border-right: none;
	border-bottom: none;
}
.indexTeam .item .box:nth-child(2){
	top: 0;
	right: 0;
	border-left: none;
	border-bottom: none;
}
.indexTeam .item .box:nth-child(3){
	bottom:0;
	left: 0;
	border-top:none;
	border-right:none;
}
.indexTeam .item .box:nth-child(4){
	bottom:0;
	right:0;
	border-top:none;
	border-left: none;
} 
.indexTeam .item .text{
	transform: translateZ(30px);
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
@media (max-width: 1200px) {
	.indexTeam .item{
		width: 30%;
	}
}
@media (max-width: 960px) {
	.indexTeam .item{
		width: 48%;
	}
}
@media (max-width: 640px) {
	.indexTeam .item{
		width: 100%;
		max-width: 320px;
	}
}