@charset "UTF-8";
.lightbox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.8);
	z-index: 1;
	opacity: 1;
	animation: show .8s;
}
@keyframes show {
	from{opacity: 0;}
	to{opacity: 1;}
}
.lightbox .box{
	 max-width: 330px;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%,-50%);
	 text-align: center;
}
.lightbox .lightboxTitle{
	margin-top: 15px;
}
.lightbox .button{
	display: inline-block;
	margin-top: 50px;
	cursor: pointer;
}
	
@media (max-width: 880px) {

}
