@charset "UTF-8";

/*img*/

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}


/*UL*/

.ul-inline>li {
    display: inline-block;
}


/*外框 */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 1200px;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
}


/*限字 */

.ellipsis {
    height: 60px;
    overflow: hidden;
    position: relative;
}

.ellipsis:before {
    content: "";
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(253, 249, 251, 0) 0%, #fdf9fb 80%);
    height: 40px;
    width: 100%;
    bottom: 0;
    left: 0;
}


/*連結 */

.button {
    font-size: 16px;
    padding: 15px 45px;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: .5s ease-out;
}

.button:hover {
    background: #0f8cee;
    border: 1px solid #0f8cee;
}

.button.button_color,
.button.button_color:hover {
    background: #0f8cee;
    border: 1px solid #0f8cee;
}

.button_animation {
    box-shadow: 0 0 20px #0f8cee;
    /* animation: buttonAnimation 4s ease infinite; */
}

@keyframes buttonAnimation {
    0% {
        box-shadow: 0 0 10px #0f8cee;
    }
    50% {
        box-shadow: 0 0 40px #0f8cee;
    }
    100% {
        box-shadow: 0 0 10px #0f8cee;
    }
}


/*標題*/

.title {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-bottom: 10px;
    transform-origin: left;
    transform: skewY(-3deg);
    margin-bottom: 30px;
    width: 100%;
    /*flex-wrap: wrap;*/
}

.title h1 {
    width: 120px;
    line-height: 1;
    color: #0f8cee;
    text-shadow: 0 0 100px #0f8cee;
}

.title h3 {
    width: calc( 100% - 120px);
}

.title .line {
    position: absolute;
    width: 100%;
    height: 10px;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.title .line:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 0 100vw 10px 0;
    border-color: transparent rgba(255, 255, 255, .5) transparent transparent;
}

@media (max-width: 640px) {
    .title h1 {
        width: 95px;
    }
    .title h3 {
        width: calc( 100% - 95px);
        font-size: 16px;
    }
}


/*description*/

.bottomLine {
    position: relative;
    bottom: 0;
    width: 94%;
    left: 3%;
    height: 10px;
    opacity: .3;
}

.bottomLine .img {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.bottomLine .line {
    width: 100%;
    height: 1px;
    background: #fff;
    margin-top: 4px;
}

.bottomLine:after,
.bottomLine:before {
    content: '';
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    top: -4px;
    background: #fff;
}

.bottomLine:before {
    left: auto;
    right: 0;
}

@media (min-width: 1200px) {
    .bottomLine {
        left: 50%;
        width: 1170px;
        margin-left: -585px
    }
}


/*center*/

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/*scrollbars*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    /*-webkit-box-shadow: rgba(0,0,0,0);*/
}

::-webkit-scrollbar-thumb {
    background: #0f8cee;
    /*border-radius: 8px;*/
}


/*load*/

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 11;
    /*transition: transform .6s;*/
    transition: opacity .8s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /*visibility: hidden;*/
    /*animation: loadingAnimation 1.4s;*/
    /* transform-origin: center top;
    transform: scale(1,1);*/
    /*opacity: 0;*/
    pointer-events: none;
}

@keyframes loadingAnimation {
    0% {
        opacity: 1;
        transform: scale(1, 1);
    }
    60% {
        opacity: 1;
        transform: scale(1, 1);
    }
    98% {
        opacity: 0;
        transform: scale(1, 1);
    }
    99% {
        opacity: 0;
        transform: scale(1, 1);
    }
    /*	100%{opacity: 0;transform: scale(1,0);}*/
}

.loading .box {
    opacity: 0;
    transition: .4s;
    width: 120px;
}

.loading svg {
    /*transition: opacity .2s;*/
    /*width: 50%;*/
    margin-bottom: 20px;
}

.loading h5 {
    margin-left: 28px;
    font-size: 14px;
}

.loading h5 span {
    width: 3px;
    height: 3px;
    /* margin: 0 1px; */
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    opacity: 1;
}

.loading h5 span:nth-child(1) {
    animation: roundShowAnimation .8s .1s infinite;
    /* margin-left: 5px; */
}

.loading h5 span:nth-child(2) {
    animation: roundShowAnimation .8s .2s infinite;
}

.loading h5 span:nth-child(3) {
    animation: roundShowAnimation .8s .3s infinite;
}

@keyframes roundShowAnimation {
    0% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body.active {
    /*height: 100%;*/
    overflow: hidden;
}

body.active .loading {
    opacity: 1;
    /*transform: scale(1,1);*/
}

body.active .loading .box {
    opacity: 1;
}


/*scrollAnimation*/

.scrollAnimation {
    transform: translateY(50px);
    opacity: 0;
    transition: .3s ease-out;
}

.scrollAnimation.active {
    transform: translateY(0);
    opacity: 1;
}

.scrollAnimation.scrollAnimation_custon {
    transform: skewY(-3deg) translateY(50px);
}

.scrollAnimation.scrollAnimation_custon.active {
    transform: skewY(-3deg) translateY(0);
}

.scrollAnimation.scrollAnimation_left {
    transform: translateX(-100%);
}

.scrollAnimation.scrollAnimation_left.active {
    transform: translateX(0);
}

.scrollAnimation.scrollAnimation_right {
    transform: translateX(100%);
}

.scrollAnimation.scrollAnimation_right.active {
    transform: translateX(0);
}

.scrollAnimation.scrollAnimation_delay1 {
    transition-delay: .1s;
}

.scrollAnimation.scrollAnimation_delay2 {
    transition-delay: .2s;
}

.scrollAnimation.scrollAnimation_delay3 {
    transition-delay: .3s;
}

.scrollAnimation.scrollAnimation_delay4 {
    transition-delay: .4s;
}

.scrollAnimation.scrollAnimation_delay5 {
    transition-delay: .5s;
}

.scrollAnimation.scrollAnimation_delay6 {
    transition-delay: .6s;
}


/*背景動畫*/

.wrapper {
    height: 100%;
}

.sky {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../img/bg_02.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.star {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../img/bg_03.png') 0 0 repeat;
    animation: animatedBackground 30s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes animatedBackground {
    from {
        background-position: -460px 0;
    }
    to {
        background-position: 0 0;
    }
}

.earth {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 680px;
    max-width: 1200px;
    height: 100%;
}

.camera {
    position: fixed;
    width: 100%;
    height: 100%;
    perspective: 6000px;
}

.camera .space {
    height: 100%;
    transform-style: preserve-3d;
}

.camera .img {
    position: absolute;
}

.camera .img02 {
    top: 55%;
    left: 25%;
    transform: translateZ(2000px) scale(0.7);
}

.camera .img03 {
    left: 55%;
    top: 73%;
    transform: translateZ(300px);
}

.camera .img04 {
    top: 55%;
    left: 40%;
    transform: translateZ(1700px) scale(0.6);
}

.camera .img05 {
    top: 54%;
    left: 36%;
    transform: translateZ(600px) scale(0.8);
}

.camera .img06 {
    top: 400px;
    right: 305px;
    transform: scale(0.6) translateZ(600px);
}

.camera .img07 {
    bottom: -107px;
    left: 0px;
    transform: rotate(-20deg) translateZ(10px) scale(0.8);
}

.camera .img08 {
    top: 110px;
    left: -150px;
    transform: translateZ(100px) scale(0.8);
}

.camera .img09 {
    bottom: -180px;
    right: -30px;
    transform: translateZ(20px);
}

.camera .img10 {
    top: 40%;
    right: 10%;
    transform: translateZ(200px) rotate(305deg) scale(0.9);
}

.camera .img11 {
    top: 60%;
    right: 15%;
    transform: translateZ(800px) rotate(-60deg) scale(0.6);
}

.camera .img12 {
    top: 41%;
    left: 52%;
    transform: translateZ(1800px) rotate(-50deg) scale(0.6);
}

.camera .img13 {
    top: 270px;
    left: 146px;
    transform: rotate(34deg) translateZ(400px);
}

@media (max-width: 1200px) {
    .camera .img {
        display: none;
    }
    .camera .img03,
    .camera .img04,
    .camera .img05,
    .camera .img07,
    .camera .img08,
    .camera .img09,
    .camera .img10 {
        display: block;
    }
    .camera .img07 {
        left: -175px;
    }
}

@media (max-width: 980px) {
    .camera .img03 {
        display: none;
    }
}

@media (max-width: 720px) {
    .camera .img02,
    .camera .img04,
    .camera .img05,
    .camera .img09 {
        display: none;
    }
    .camera .img07 {
        bottom: -250px;
        left: -175px;
        transform: scale(0.6);
    }
    .camera .img08 {
        top: -4%;
        left: -370px;
    }
    .camera .img10 {
        top: 40%;
        right: -50px;
        transform: scale(0.6);
    }
    .sky {
        background: url('../img/bg_02.jpg') no-repeat top;
        background-attachment: inherit;
        background-size: inherit;
    }
}

@media (max-width: 420px) {
    .camera .img07 {
        display: none;
    }
    .camera .img10 {
        top: 60%;
    }
}


/*共用*/

.section {
    position: relative;
    overflow: hidden;
}

.section .container {
    padding: 80px 30px;
}

@media (max-width: 720px) {
    .section .container {
        padding: 60px 20px;
    }
}