@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

*, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.container, .container-fluid { position: relative; margin-left: auto; margin-right: auto; padding-right: 15px; padding-left: 15px; }

@media (min-width: 576px) { .container { width: 540px; max-width: 100%; } }
@media (min-width: 768px) { .container { width: 720px; max-width: 100%; } }
@media (min-width: 992px) { .container { width: 960px; max-width: 100%; } }
@media (min-width: 1200px) { .container { width: 1140px; max-width: 100%; } }
.row {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;margin-right: -15px;margin-left: -15px;align-items: center;}

.no-gutters { margin-right: 0; margin-left: 0; }
.no-gutters>.col,
.no-gutters>[class*="col-"] {padding-right: 0;padding-left: 0;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl { position: relative; width: 100%; min-height: 1px; padding-right: 15px; padding-left: 15px; }

.col { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }

.col-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }

.col-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.33333%; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }

.col-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }

.col-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }

.col-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }

.col-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.66667%; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }

.col-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }

.col-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.33333%; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }

.col-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }

.col-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }

.col-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.33333%; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }

.col-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.66667%; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }

.col-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }

/*.pull-0 { right: auto; }*/

/*.pull-1 { right: 8.33333%; }*/

/*.pull-2 { right: 16.66667%; }*/

/*.pull-3 { right: 25%; }*/

/*.pull-4 { right: 33.33333%; }*/

/*.pull-5 { right: 41.66667%; }*/

/*.pull-6 { right: 50%; }*/

/*.pull-7 { right: 58.33333%; }*/

/*.pull-8 { right: 66.66667%; }*/

/*.pull-9 { right: 75%; }*/

/*.pull-10 { right: 83.33333%; }*/

/*.pull-11 { right: 91.66667%; }*/

/*.pull-12 { right: 100%; }*/

/*.push-0 { left: auto; }*/

/*.push-1 { left: 8.33333%; }*/

/*.push-2 { left: 16.66667%; }*/

/*.push-3 { left: 25%; }*/

/*.push-4 { left: 33.33333%; }*/

/*.push-5 { left: 41.66667%; }*/

/*.push-6 { left: 50%; }*/

/*.push-7 { left: 58.33333%; }*/

/*.push-8 { left: 66.66667%; }*/

/*.push-9 { left: 75%; }*/

/*.push-10 { left: 83.33333%; }*/

/*.push-11 { left: 91.66667%; }*/

/*.push-12 { left: 100%; }*/

/*.offset-1 { margin-left: 8.33333%; }*/

/*.offset-2 { margin-left: 16.66667%; }*/

/*.offset-3 { margin-left: 25%; }*/

/*.offset-4 { margin-left: 33.33333%; }*/

/*.offset-5 { margin-left: 41.66667%; }*/

/*.offset-6 { margin-left: 50%; }*/

/*.offset-7 { margin-left: 58.33333%; }*/

/*.offset-8 { margin-left: 66.66667%; }*/

/*.offset-9 { margin-left: 75%; }*/

/*.offset-10 { margin-left: 83.33333%; }*/

/*.offset-11 { margin-left: 91.66667%; }*/

@media (min-width: 576px) { .col-sm { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .col-sm-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }
  .col-sm-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.33333%; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-sm-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-sm-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-sm-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-sm-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.66667%; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-sm-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-sm-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.33333%; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-sm-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-sm-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-sm-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.33333%; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-sm-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.66667%; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-sm-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .pull-sm-0 { right: auto; }
  .pull-sm-1 { right: 8.33333%; }
  .pull-sm-2 { right: 16.66667%; }
  .pull-sm-3 { right: 25%; }
  .pull-sm-4 { right: 33.33333%; }
  .pull-sm-5 { right: 41.66667%; }
  .pull-sm-6 { right: 50%; }
  .pull-sm-7 { right: 58.33333%; }
  .pull-sm-8 { right: 66.66667%; }
  .pull-sm-9 { right: 75%; }
  .pull-sm-10 { right: 83.33333%; }
  .pull-sm-11 { right: 91.66667%; }
  .pull-sm-12 { right: 100%; }
  .push-sm-0 { left: auto; }
  .push-sm-1 { left: 8.33333%; }
  .push-sm-2 { left: 16.66667%; }
  .push-sm-3 { left: 25%; }
  .push-sm-4 { left: 33.33333%; }
  .push-sm-5 { left: 41.66667%; }
  .push-sm-6 { left: 50%; }
  .push-sm-7 { left: 58.33333%; }
  .push-sm-8 { left: 66.66667%; }
  .push-sm-9 { left: 75%; }
  .push-sm-10 { left: 83.33333%; }
  .push-sm-11 { left: 91.66667%; }
  .push-sm-12 { left: 100%; }
  .offset-sm-0 { margin-left: 0; }
  .offset-sm-1 { margin-left: 8.33333%; }
  .offset-sm-2 { margin-left: 16.66667%; }
  .offset-sm-3 { margin-left: 25%; }
  .offset-sm-4 { margin-left: 33.33333%; }
  .offset-sm-5 { margin-left: 41.66667%; }
  .offset-sm-6 { margin-left: 50%; }
  .offset-sm-7 { margin-left: 58.33333%; }
  .offset-sm-8 { margin-left: 66.66667%; }
  .offset-sm-9 { margin-left: 75%; }
  .offset-sm-10 { margin-left: 83.33333%; }
  .offset-sm-11 { margin-left: 91.66667%; } }
@media (min-width: 768px) { .col-md { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .col-md-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }
  .col-md-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.33333%; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-md-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-md-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-md-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-md-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.66667%; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-md-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.33333%; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-md-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-md-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-md-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.33333%; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-md-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.66667%; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-md-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .pull-md-0 { right: auto; }
  .pull-md-1 { right: 8.33333%; }
  .pull-md-2 { right: 16.66667%; }
  .pull-md-3 { right: 25%; }
  .pull-md-4 { right: 33.33333%; }
  .pull-md-5 { right: 41.66667%; }
  .pull-md-6 { right: 50%; }
  .pull-md-7 { right: 58.33333%; }
  .pull-md-8 { right: 66.66667%; }
  .pull-md-9 { right: 75%; }
  .pull-md-10 { right: 83.33333%; }
  .pull-md-11 { right: 91.66667%; }
  .pull-md-12 { right: 100%; }
  .push-md-0 { left: auto; }
  .push-md-1 { left: 8.33333%; }
  .push-md-2 { left: 16.66667%; }
  .push-md-3 { left: 25%; }
  .push-md-4 { left: 33.33333%; }
  .push-md-5 { left: 41.66667%; }
  .push-md-6 { left: 50%; }
  .push-md-7 { left: 58.33333%; }
  .push-md-8 { left: 66.66667%; }
  .push-md-9 { left: 75%; }
  .push-md-10 { left: 83.33333%; }
  .push-md-11 { left: 91.66667%; }
  .push-md-12 { left: 100%; }
  .offset-md-0 { margin-left: 0; }
  .offset-md-1 { margin-left: 8.33333%; }
  .offset-md-2 { margin-left: 16.66667%; }
  .offset-md-3 { margin-left: 25%; }
  .offset-md-4 { margin-left: 33.33333%; }
  .offset-md-5 { margin-left: 41.66667%; }
  .offset-md-6 { margin-left: 50%; }
  .offset-md-7 { margin-left: 58.33333%; }
  .offset-md-8 { margin-left: 66.66667%; }
  .offset-md-9 { margin-left: 75%; }
  .offset-md-10 { margin-left: 83.33333%; }
  .offset-md-11 { margin-left: 91.66667%; } }
@media (min-width: 992px) { .col-lg { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .col-lg-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }
  .col-lg-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.33333%; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-lg-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-lg-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-lg-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.66667%; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-lg-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-lg-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.33333%; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-lg-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-lg-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-lg-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.33333%; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-lg-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.66667%; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-lg-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .pull-lg-0 { right: auto; }
  .pull-lg-1 { right: 8.33333%; }
  .pull-lg-2 { right: 16.66667%; }
  .pull-lg-3 { right: 25%; }
  .pull-lg-4 { right: 33.33333%; }
  .pull-lg-5 { right: 41.66667%; }
  .pull-lg-6 { right: 50%; }
  .pull-lg-7 { right: 58.33333%; }
  .pull-lg-8 { right: 66.66667%; }
  .pull-lg-9 { right: 75%; }
  .pull-lg-10 { right: 83.33333%; }
  .pull-lg-11 { right: 91.66667%; }
  .pull-lg-12 { right: 100%; }
  .push-lg-0 { left: auto; }
  .push-lg-1 { left: 8.33333%; }
  .push-lg-2 { left: 16.66667%; }
  .push-lg-3 { left: 25%; }
  .push-lg-4 { left: 33.33333%; }
  .push-lg-5 { left: 41.66667%; }
  .push-lg-6 { left: 50%; }
  .push-lg-7 { left: 58.33333%; }
  .push-lg-8 { left: 66.66667%; }
  .push-lg-9 { left: 75%; }
  .push-lg-10 { left: 83.33333%; }
  .push-lg-11 { left: 91.66667%; }
  .push-lg-12 { left: 100%; }
  .offset-lg-0 { margin-left: 0; }
  .offset-lg-1 { margin-left: 8.33333%; }
  .offset-lg-2 { margin-left: 16.66667%; }
  .offset-lg-3 { margin-left: 25%; }
  .offset-lg-4 { margin-left: 33.33333%; }
  .offset-lg-5 { margin-left: 41.66667%; }
  .offset-lg-6 { margin-left: 50%; }
  .offset-lg-7 { margin-left: 58.33333%; }
  .offset-lg-8 { margin-left: 66.66667%; }
  .offset-lg-9 { margin-left: 75%; }
  .offset-lg-10 { margin-left: 83.33333%; }
  .offset-lg-11 { margin-left: 91.66667%; } }
@media (min-width: 1200px) { .col-xl { -webkit-flex-basis: 0; -ms-flex-preferred-size: 0; flex-basis: 0; -webkit-box-flex: 1; -webkit-flex-grow: 1; -ms-flex-positive: 1; flex-grow: 1; max-width: 100%; }
  .col-xl-auto { -webkit-box-flex: 0; -webkit-flex: 0 0 auto; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; }
  .col-xl-1 { -webkit-box-flex: 0; -webkit-flex: 0 0 8.33333%; -ms-flex: 0 0 8.33333%; flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-xl-2 { -webkit-box-flex: 0; -webkit-flex: 0 0 16.66667%; -ms-flex: 0 0 16.66667%; flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-xl-3 { -webkit-box-flex: 0; -webkit-flex: 0 0 25%; -ms-flex: 0 0 25%; flex: 0 0 25%; max-width: 25%; }
  .col-xl-4 { -webkit-box-flex: 0; -webkit-flex: 0 0 33.33333%; -ms-flex: 0 0 33.33333%; flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-xl-5 { -webkit-box-flex: 0; -webkit-flex: 0 0 41.66667%; -ms-flex: 0 0 41.66667%; flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-xl-6 { -webkit-box-flex: 0; -webkit-flex: 0 0 50%; -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%; }
  .col-xl-7 { -webkit-box-flex: 0; -webkit-flex: 0 0 58.33333%; -ms-flex: 0 0 58.33333%; flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-xl-8 { -webkit-box-flex: 0; -webkit-flex: 0 0 66.66667%; -ms-flex: 0 0 66.66667%; flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-xl-9 { -webkit-box-flex: 0; -webkit-flex: 0 0 75%; -ms-flex: 0 0 75%; flex: 0 0 75%; max-width: 75%; }
  .col-xl-10 { -webkit-box-flex: 0; -webkit-flex: 0 0 83.33333%; -ms-flex: 0 0 83.33333%; flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-xl-11 { -webkit-box-flex: 0; -webkit-flex: 0 0 91.66667%; -ms-flex: 0 0 91.66667%; flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-xl-12 { -webkit-box-flex: 0; -webkit-flex: 0 0 100%; -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
  .pull-xl-0 { right: auto; }
  .pull-xl-1 { right: 8.33333%; }
  .pull-xl-2 { right: 16.66667%; }
  .pull-xl-3 { right: 25%; }
  .pull-xl-4 { right: 33.33333%; }
  .pull-xl-5 { right: 41.66667%; }
  .pull-xl-6 { right: 50%; }
  .pull-xl-7 { right: 58.33333%; }
  .pull-xl-8 { right: 66.66667%; }
  .pull-xl-9 { right: 75%; }
  .pull-xl-10 { right: 83.33333%; }
  .pull-xl-11 { right: 91.66667%; }
  .pull-xl-12 { right: 100%; }
  .push-xl-0 { left: auto; }
  .push-xl-1 { left: 8.33333%; }
  .push-xl-2 { left: 16.66667%; }
  .push-xl-3 { left: 25%; }
  .push-xl-4 { left: 33.33333%; }
  .push-xl-5 { left: 41.66667%; }
  .push-xl-6 { left: 50%; }
  .push-xl-7 { left: 58.33333%; }
  .push-xl-8 { left: 66.66667%; }
  .push-xl-9 { left: 75%; }
  .push-xl-10 { left: 83.33333%; }
  .push-xl-11 { left: 91.66667%; }
  .push-xl-12 { left: 100%; }
  .offset-xl-0 { margin-left: 0; }
  .offset-xl-1 { margin-left: 8.33333%; }
  .offset-xl-2 { margin-left: 16.66667%; }
  .offset-xl-3 { margin-left: 25%; }
  .offset-xl-4 { margin-left: 33.33333%; }
  .offset-xl-5 { margin-left: 41.66667%; }
  .offset-xl-6 { margin-left: 50%; }
  .offset-xl-7 { margin-left: 58.33333%; }
  .offset-xl-8 { margin-left: 66.66667%; }
  .offset-xl-9 { margin-left: 75%; }
  .offset-xl-10 { margin-left: 83.33333%; }
  .offset-xl-11 { margin-left: 91.66667%; } }
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15 { width: 100%; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-15 { -webkit-box-flex: 0; -webkit-flex: 0 0 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; }
@media (min-width: 768px) { .col-sm-15 { -webkit-box-flex: 0; -webkit-flex: 0 0 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; } }
@media (min-width: 992px) { .col-md-15 { -webkit-box-flex: 0; -webkit-flex: 0 0 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; } }
@media (min-width: 1200px) { .col-lg-15 { -webkit-box-flex: 0; -webkit-flex: 0 0 20%; -ms-flex: 0 0 20%; flex: 0 0 20%; max-width: 20%; } }
.align-items-center { -webkit-box-align: center !important; -webkit-align-items: center !important; -ms-flex-align: center !important; align-items: center !important; }


html {
    font-family: Helvetica, Arila, "LiHei Pro", "Microsoft JhengHei", "新細明體", serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #666666;
    -webkit-tap-highlight-color: #fff;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 16px;
}

body { margin: 0; background-color: #fff; height: 100%; }

hr { box-sizing: content-box; height: 0; overflow: visible; margin-top: 21px; margin-bottom: 21px; border: 0; border-top: 1px solid #ecf0f1; }

/*流體字 */
h1, h2, h3, h4, h5, h6 { font-family: inherit; color: inherit; }

h1 { font-size: 4rem; }

h2 { font-size: 2.625rem; }

h4 { font-size: 1.5rem; }

h5 { font-size: 1.1rem; }

h6 { font-size: 1rem; }

p, b { font-size: 1rem; line-height: 1.4; }

span { font-size: 1rem; }

small { font-size: 0.875rem; display: block; }

img { border: 0; max-width: 100%; vertical-align: middle; }

.img-responsive { display: block; width: 100%; height: auto; }

.img-hight { overflow: hidden; height: 8vw; }
.img-hight > img { position: relative; top: 50%; transform: translateY(-50%); }

.flex-center,
.overlaymodal .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.transform-center { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.absolute-center { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }

b, strong { font-weight: bold; }

.text-one { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.text-two { display: -webkit-box !important; overflow: hidden; text-overflow: ellipsis; word-break: break-all; -webkit-box-orient: vertical; -webkit-line-clamp: 3; }

/*連結 */
a { font-size: 1.125rem; color: #666666; text-decoration: none; display: block; }
a:hover, a:active {outline: 0;color: #262626;text-decoration: none;}
a:hover:focus, a:active:focus { outline-color: transparent; }

/*UL */
.list-unstyle { padding-left: 0; list-style: none; }
.list-inline { padding-left: 0; list-style: none; }
.list-inline > li { display: inline-block; padding-left: 6px; padding-right: 6px; }

/*form */
.form-control {display: block;height: 36px;padding: 8px 12px;font-size: 1rem;line-height: 1.42857;color: #666666;background-color: #fff;border: 0;/* border-bottom: 1px solid #cccccc; */}
.form-control:focus { outline: 0; -webkit-box-shadow: none; box-shadow: none; }
.form-control::-moz-placeholder { color: #cccccc; }
.form-control:-ms-input-placeholder { color: #cccccc; }
.form-control::-webkit-input-placeholder { color: #cccccc; }
.form-control .error { border-color: #ff1672; }
.form-group { margin-bottom: 15px; }

/*ErrorIcon */
.ErrorIcon i, .BaAllProducts .top p i, .overlaymodal .top i { cursor: pointer; color: #cccccc; transition: all 200ms ease-out; }
.ErrorIcon i:hover, .BaAllProducts .top p i:hover, .overlaymodal .top i:hover { color: #666666; transform: rotate(-90deg); }

/**********************************************************************/
.title-md{
    font-family: "MingLiU", "PMingLiU", "新細明體", serif;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #262626;
    padding: 20px 0;
}
.form-controls{
    background: #fff;
    border: 1px solid #aaa;
    height: 50px;
    padding: 15px;
    width: 100%;
}
input.form-controls:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
/*btn */
.btn {
    display: block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    text-decoration: none;
    color: #6f6666;
    border: 1px solid #ccc;
    text-decoration: none;
    background: #ffffff;
    transition: .5s ease;
    border-radius: 3px;
}
.btn:focus {outline-color: initial;outline: 0;}
.btn:hover,.btn.active{
    background-color: #0f8cee;
    border: 1px solid #0f8cee;
    color: #fff;
}
.btn.btn-block {
    background-color: #000;
}
.btn.btn-block:hover {
    color: #fff;
    background-color: #1a1a1a;
}
.btn.btn-blue {
    border: none;
    color: #fff;
    background: #0f8cee;
    box-shadow: 0 2px 2px 0 rgba(15, 140, 238, 0.14), 0 3px 1px -2px rgba(15, 140, 238, 0.2), 0 1px 5px 0 rgba(15, 140, 238, 0.12);
}
.btn.btn-blue:hover {
    border: none;
    box-shadow: 0 14px 26px -12px rgba(15, 140, 238, 0.42), 0 4px 23px 0px rgba(15, 140, 238, 0.12), 0 8px 10px -5px rgba(15, 140, 238, 0.2);
}

/*maloginPage***********************************************************/
.maloginPage{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/logoBg.jpg");
    background-size: cover;
}
.maloginPage form{
    width: 450px;
    padding: 50px;
    background: rgba(255,255,255,.8);
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,.6);
    box-shadow: 1px 1px 20px rgba(0,0,0,.6);
}
.maloginPage .title-md{
    padding-top: 0;
    padding-bottom: 40px;
}
.maloginPage .item{
    padding-bottom: 20px;
}
.maloginPage .item label{
    display: block;
    padding-bottom: 5px;
}
.maloginPage .linkBtn{
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.maloginPage .btn{
    width: 120px;
}
.hiddenPassword{
    position: relative;
}
.hiddenPassword .fa{
    position: absolute;
    top: 18px;
    right: 13px;
    cursor: pointer;
}
.hiddenPassword .hidden{
    position: absolute;
    opacity: 0;
    bottom: 30px;
    left: 0;
    height: 0;
    border: 0;
    padding: 0;
}
.password{
    position: relative;
}
.password .fa{
    position: absolute;
    top: 36px;
    right: 13px;
    cursor: pointer;
}


/*Backstage(首頁***************************************************************/
.Backstage{
    display: flex;
    min-height: 100vh;
}
.Backstage .left {
  background: #262626;
  width: 220px;
  overflow: hidden;
  padding: 10px;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)),url('../../img/bg_02.jpg');
  background-position: center;
  transition: width .3s;
  overflow: hidden;
}
/*logo*/
.Backstage .left .logo{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #484848;
    height: 60px;
}
.Backstage .left .logo svg{
    width: 32px;
    height: 32px;
}
.Backstage .left .logo .img{
  margin-left: 6px;
  width: 110px;
  transition: width .3s;
  overflow: hidden;
}
.Backstage .left .logo .img img{
    max-width: 110px;
}
/*item*/
.Backstage .left .item li{
    cursor: pointer;
}
.Backstage .left .item li+li {
    margin-top: 5px;
}
.Backstage .left .item li a{
    font-size: 1.125rem;
    position: relative;
    padding: 15px;
    color: #ccc;
    display: flex;
    align-items: center;
    border-radius: 3px;
    /* width: 170px; */
}
.Backstage .left .item li a:hover{
  background-color: rgba(200, 200, 200, 0.2);
  color: #fff;
}
.Backstage .left .item li a i{
  width: 25px;
  text-align: center;
  padding-left: 2px;
}
.Backstage .left .item li a p{
  font-size: 16px;
  margin-left: 16px;
  line-height: initial;
  height: 24px;
  width: 150px;
  transition: width .3s;
  overflow: hidden;
}
.Backstage .left .item li b{
  position: absolute;
  right: 20px;
  top: 25px;
  width: 0;
  height: 0;
  border-bottom: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition: all 150ms ease-in;
}
.Backstage .left .item>li.active>a{
    background-color: #0f8cee;
    color: #fff;
}
.Backstage .left .item .second ul{
    overflow: hidden;
    height: 0;
    transition: all .3s;
}
.Backstage .left .item .second li:first-child a{
    margin-top: 5px;
}
.Backstage .left .item .second>.active{
    background-color: rgba(200, 200, 200, 0.2);
    color: #fff;
}
.Backstage .left .item .second>.active b{
    transform: rotate(180deg);
}
.Backstage .left .item .second>.active+ul li.active a{
    background-color: #0f8cee;
    color: #fff;
}
.Backstage .left .item .second>.active+ul{
    height: 177px;
}
.Backstage .left .admin{
    border-bottom: 1px solid #484848;
    margin-bottom: 10px;
    display: flex;
    padding: 5px 10px 15px;
    flex-wrap: wrap;
    /* height: 51px; */
    /* overflow: hidden; */
    width: 170px;
}
.Backstage .left .admin .img{
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    /* display: inline-block; */
    /* flex-basis: 30px; */
}
.Backstage .left .admin .img img{
    max-width: 30px;
}
.Backstage .left .admin p{
    line-height: 30px;
    color: #ccc;
    margin-left: 10px;
    transition: width .3s;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 50px);
}
.Backstage .left .admin p span{
    display: none;
    margin-left: 5px;
    font-size: 15px;
}
/*摺疊選單*/
.Backstage .left.active {
  width: 75px;
}
.Backstage .left.active .logo .img,
.Backstage .left.active .item li p,
.Backstage .left.active .admin p{
    width: 0;
}
.Backstage .left.active .item>li a b{
  display: none;
}
.Backstage .left.active:hover{
    width: 220px;
}
.Backstage .left.active:hover .logo .img{
    width: 110px;
}
.Backstage .left.active:hover .item li p{
     width: 150px;
}
.Backstage .left.active:hover .admin p{
    width: calc(100% - 50px);
}
/*right*/
.Backstage .right{
    width: 100%;
    background: #eee;
    padding: 60px 30px 30px;
}
.Backstage .right .BaAllProducts{
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    background: #fff;
}
.BaAllProducts +.BaAllProducts{
  margin-top: 60px;
}
.BaAllProducts .title{
    background: #0f8cee;
    padding: 20px 60px;
    border-radius: 3px;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 14px 26px -12px rgba(15, 140, 238, 0.42),
    0 4px 23px 0px rgba(15, 140, 238, 0.12),
    0 8px 10px -5px rgba(15, 140, 238, 0.2);
    margin-top: -40px;
}


.add,.modify,.passwordBox,.delete,.seachBox,.cootitle{
     position: fixed;
     width: 100vw;
     height: 100vh;
     background: rgba(0,0,0,.6);
     top: 0;
     left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
.delete .BaAllProductsShow .bottom >.row.text{
    text-align: center;
    margin: 30px 0 80px;
    justify-content: center;
}
.delete .BaAllProductsShow .bottom{
    padding: 20px 40px;
}
.BaAllProductsShow{
    width: 600px;
}
.BaAllProductsShow .top {
    padding: 0 15px;
    display: flex;
    position: relative;
}
.BaAllProductsShow .top .title{
    padding: 20px 15px;
    margin-top: -15px;
    margin-right: 15px;
}
.BaAllProductsShow .top .title i{
    font-size: 38px;
}
.BaAllProductsShow .top p{
    font-size: 22px;
    padding-top: 22px;
}
.BaAllProductsShow .top a {
    font-size: 22px;
    position: absolute;
    top: 15px;
    right: 25px;
    color: #aaa;
    cursor: pointer;
    transition: .5s;
}
.BaAllProductsShow .top a:hover{
    color: #888;
}
.BaAllProductsShow .bottom {
  padding: 20px 40px 20px 20px;
}
.BaAllProductsShow .bottom >.row{
  margin-bottom: 15px;
}
.BaAllProductsShow label{
    text-align: right;
    padding-right: 5px;
    color: #909090;
    font-size: 15px;
}
.BaAllProductsShow label.coverLabel{
    /* min-width: 150px; */
    /* max-height: 150px; */
    border: 2px dashed rgb(204, 204, 204);
    display: block;
    width: 100px;
    height: 100px;
    padding: 0;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BaAllProductsShow label.coverLabel:after,
.BaAllProductsShow label.coverLabel:before{
    content: '';
    width: 26px;
    height: 5px;
    background: rgb(204, 204, 204);
    position: absolute;
    transition: .5s;
}
.BaAllProductsShow label.coverLabel:after{
    width: 5px;
    height: 26px;
}
.BaAllProductsShow label.coverLabel:hover:after,
.BaAllProductsShow label.coverLabel:hover:before{
    background: rgb(175, 173, 173);
}
.BaAllProductsShow label.coverLabel>input{
    display: none;
}
.BaAllProductsShow label.coverLabel.active{
    border: none;
    height: 0;
}
.BaAllProductsShow label.coverLabel.active:after,
.BaAllProductsShow label.coverLabel.active:before{
    display: none;
}
.BaAllProductsShow .bottom > div input:not(.btn),
.BaAllProductsShow .bottom > div textarea,
.BaAllProductsShow .bottom > div select {
    width: 100%;
    box-shadow: none;
    padding: 8px;
}
.BaAllProductsShow .bottom >  div textarea {height: 110px;}
.BaAllProductsShow .bottom > div .modifystatus input,
.BaAllProductsShow .bottom > div input[type='file']{
    width: auto;
}
.BaAllProductsShow .bottom .btn-blue{
    width: auto;
    padding: 12px 30px;
    margin: auto;
}

/*底線*/
.BaAllProductsShow .bottom .form-control {
    background: no-repeat center,no-repeat center;
    background-image: linear-gradient(0deg,#0f8cee 2px,rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0);
    background-size: 0 100%,100% 100%;
    transition: background .3s ease-out;
}
.BaAllProductsShow .bottom .form-control:focus {
    background-size: 100% 100%,100% 100%;
}
/*圖片裁切(html)*/
.filerow{
    margin-bottom: 5px;
}
.filerow .line{
    width: 100%;
    background: #eee;
    height: 1px;
    margin: 30px 0 15px;
}
.filebox h3{
    margin-bottom: 10px;
}
.filebox input[type='file']{
    width: 100%;
    /*padding: 30px 0;*/
    margin-left: -8px;
}
.filebox span{
    clear: both;
    padding-top: 10px;
    display: block;
    font-size: 12px;
    color: #6c757d;
}
.filebox .imgdiv{
    /* padding: 5px; */
    border: 1px solid #eee;
    position: relative;
    border-radius: 4px;
    float: left;
    max-height: 100px;
}
.filebox .imgdiv img{
    max-height: 100px;
    padding: 5px;
}
.filebox .imgdiv i{
    position: absolute;
    top: -6px;
    right: -7px;
    background: #fff;
    border-radius: 50%;
    padding: 3px 5px;
    border: 1px solid #eee;
    cursor: pointer;
}
/*圖片裁切(裁切)*/
#Jcrophtml{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    /*display: none;*/
    z-index: 9;padding-bottom: 0;
}
#Jcrophtml .Jcrophtmlbox{
    width: 100%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#Jcrophtml .btn{
    margin: 30px auto 0;
    width: 400px;
    padding: 20px;
    background-color: #0f8cee;
    border: 1px solid transparent;
    /* border: 1px solid #262626; */
    color: #fff;
}
#Jcrophtml .jcrop-keymgr{
    display: none!important;
}
.jcrop-holder {
    margin: auto;
}
/*密碼*/
.BaAllProductsShow .password .fa{
    top: 10px;
    right: 25px;
}

/*當前頁***************************************************************/
.ItemProducts .ProductsNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px 0;
    /*border-bottom: 1px solid #ddd;*/
}
.ItemProducts .ProductsNav .ProductsAdd {
    display: flex;
}
.ItemProducts .ProductsNav .ProductsAdd .btn {
  /* padding: 8px 15px; */
  /* border: none; */
  font-size: 14px;
  /* background-color: #262626; */
  /* color: #fff; */
  /* transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1); */
  /* box-shadow: 0 2px 2px 0 rgba(100, 100, 100, 0.14),     0 3px 1px -2px rgba(100, 100, 100, 0.2),      0 1px 5px 0 rgba(100, 100, 100, 0.12); */
}
.ItemProducts .ProductsNav .ProductsAdd .btn+.btn{
  margin-left: 10px;
}
.ItemProducts .ProductsNav .ProductsAdd .btn:hover{
    /* box-shadow: 0 14px 26px -12px rgba(100, 100, 100, 0.42),
    0 4px 23px 0px rgba(100, 100, 100, 0.12),
    0 8px 10px -5px rgba(100, 100, 100, 0.2); */
}
/*內容*/
.ItemProducts .ProductsContent{
  padding: 20px 15px;

}
/*上排名稱*/
.ItemProducts .ProductsContent .header li p{
  font-size: 16px;
}
.ItemProducts .ProductsContent .header li:first-child {
    /*background: #f2f2f2;*/
    /*height: 60px;*/
    /*border-bottom: 2px solid #ddd;*/
}
.ItemProducts .ProductsContent .header li:nth-child(2) {
    text-align: center;
    display: none;
    padding: 260px 0;
    /*border: 1px solid #cccccc;*/
      /*border-right: none;*/
}
/*上排排序*/
.ItemProducts .ProductsContent .header .idClass,
.ItemProducts .ProductsContent .header .PorderClass{
    display: flex;
    position: relative;
    font-size: 16px;
}
.ItemProducts .ProductsContent .header .idClass:after,
.ItemProducts .ProductsContent .header .PorderClass:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    opacity: 0.4;
    top: 6px;
    right: -13px;
    transform: rotate(0);
    transition: .3s;
}
.ItemProducts .ProductsContent .header .idClass.active:after,
.ItemProducts .ProductsContent .header .PorderClass.active:after{
    transform: rotate(180deg);

}
/*內容*/
.ItemProducts .ProductsContent ul p { 
  word-break: break-all; 
  font-size: 14px;
}
.ItemProducts .ProductsContent ul li {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer;
}
.ItemProducts .ProductsContent ul li > div {
    display: flex;
    align-items: center;
    width: 16.66667%;
    padding: 15px 20px 15px 0;
}
.ItemProducts .ProductsContent ul li > div:first-child {
  padding: 15px 10px 15px 5px;
}
.ItemProducts .ProductsContent ul li > div:last-child {
  padding: 15px 5px 15px 0;
  justify-content: flex-end;
}
.ItemProducts .ProductsContent ul li img{
    max-width: 100px;
}
/*動作*/
.ItemProducts .ProductsContent ul li .ProductsModify a { 
  font-size: 1.4rem; cursor: pointer; 
}
.ItemProducts .ProductsContent ul li .ProductsModify a + a {
  padding-left: 10px;
}
.ItemProducts .ProductsContent ul li .ProductsModify a:hover {
  color: #262626;
}
.ItemProducts .ProductsContent ul li .ProductsModify a.fa-plus{
    font-size: 1.25rem;
    padding-bottom: 2px;
    padding-right: 2px;
}
/*頁碼*/
.ItemProducts .ProductsPage {
  text-align: center;
  padding-bottom: 20px;
}
.ItemProducts .ProductsPage li{
  padding: 0;
  margin: 0 3px;
}
.ItemProducts .ProductsPage li a{
    padding: 0px 11px;
    min-width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    /*border: 1px solid #ccc;*/
    cursor: pointer;
    border-radius: 30px;
    font-size: 12px;
}
.ItemProducts .ProductsPage li a:hover{
  background-color: #eee;
  color: #666;
}
.ItemProducts .ProductsPage li.active a{
  color: #fff;
  background: #0f8cee;
  box-shadow: 0 14px 26px -12px rgba(15, 140, 238, 0.42),
    0 4px 23px 0px rgba(15, 140, 238, 0.12),
    0 8px 10px -5px rgba(15, 140, 238, 0.2);
}
.ItemProducts .ProductsPage li a.no:hover{
  color: #666666;
  background: none;
  border: 1px solid #ccc;
}

/*maAdmin**********************************************************/
.paAdmin .ItemProducts .ProductsContent li > div { width: 20%; }

/*paCase**********************************************************/
.paCase .ItemProducts .ProductsContent li > div:nth-child(1) {
    width: 3%;
}
.paCase .ItemProducts .ProductsContent li > div:nth-child(2) {
    width: 6%;
    justify-content: center;
}
.paCase .ItemProducts .ProductsContent li > div:nth-child(3) { width: 10%; }
.paCase .ItemProducts .ProductsContent li > div:nth-child(4) { width: 10%; }
.paCase .ItemProducts .ProductsContent li > div:nth-child(5) { width: 15%; }
.paCase .ItemProducts .ProductsContent li > div:nth-child(6) { width: 10%; }
.paCase .ItemProducts .ProductsContent li > div:nth-child(7) { width: 35%; }
.paCase .ItemProducts .ProductsContent li > div:nth-child(8) { width: 5%; }
.paCase .ItemProducts .ProductsContent li > div:nth-child(9) { width: 6%; }
.paCase #inslidPage>div{ margin-bottom: 15px; }

/*paTeam**********************************************************/
.paTeam .ItemProducts .ProductsContent li > div:nth-child(1) {
    width: 3%;
}
.paTeam .ItemProducts .ProductsContent li > div:nth-child(2) {
    width: 6%;
    justify-content: center;
}
.paTeam .ItemProducts .ProductsContent li > div:nth-child(3) { width: 10%; }
.paTeam .ItemProducts .ProductsContent li > div:nth-child(4) { width: 10%; }
.paTeam .ItemProducts .ProductsContent li > div:nth-child(5) { width: 10%; }
.paTeam .ItemProducts .ProductsContent li > div:nth-child(6) { width: 46%; }
.paTeam .ItemProducts .ProductsContent li > div:nth-child(7) { width: 5%; }
.paTeam .ItemProducts .ProductsContent li > div:nth-child(8) { width: 10%; }

/*paCooperation**********************************************************/
.paCooperation .ItemProducts:first-child #titleContent li{border: none;}
.paCooperation .ItemProducts:first-child .ProductsContent li > div:nth-child(1) { width: 20%; }
.paCooperation .ItemProducts:first-child .ProductsContent li > div:nth-child(2) { width: 75%; }
.paCooperation .ItemProducts:first-child .ProductsContent li > div:nth-child(3) { width: 5%; }
.paCooperation .ItemProducts .ProductsContent li > div:nth-child(1) { width: 10%; }
.paCooperation .ItemProducts .ProductsContent li > div:nth-child(2) { width: 20%; }
.paCooperation .ItemProducts .ProductsContent li > div:nth-child(3) { width: 50%; }
.paCooperation .ItemProducts .ProductsContent li > div:nth-child(4) { width: 10%; }
.paCooperation .ItemProducts .ProductsContent li > div:nth-child(5) { width: 10%; }